.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;

  @media (max-width: 1000px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 768px) {
    max-width: 640px;
  }

  @media (max-width: 640px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
