@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Yeseva+One&display=swap');

:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --font-main: 'Comfortaa', cursive;
  --font-title: 'Yeseva One', cursive;

  --pink: #fff8f3;
  --gray: #FAFAFA;
  --brown: #7B6152;

  --white: #fff;
  --black: #000;

}
