.products {
  padding-top: 150px;
}

.section__wrap {
  display: grid;
  grid-template-columns: 370px auto;
}

.products__descr {
}

.section__descr {
}
.products__title {
}

.products__text {
}

.section__text {
}

.products__content {
  gap: 50px 90px;
}

.section__content-descr {
  display: grid;
  grid-template-columns: auto auto;
}

.products__item {
  text-align: center;
  width: 290px;
}

.products__item-img {
}

.products__item-price {
}

.products__item-title {
}

.products__item-text {
}

.button {
}
