.products {
  padding-top: 150px;
  padding-bottom: 150px;
}

.section__wrap {
  display: grid;
  grid-template-columns: 370px auto;
}

.products__descr {
}

.section__descr {
}
.products__title {
}

.products__text {
}

.section__text {
}

.products__content {
  gap: 50px 90px;
}

.section__content-descr {
  display: grid;
  grid-template-columns: auto auto;
}

.products__item {
  width: 290px;
  text-align: center;
  justify-self: center;
}

.products__item-img {
  margin-bottom: 8px;
}

.products__item-price {
  margin-bottom: 12px;
  font-size: 16px;
  font-family: var(--font-title);
}

.products__item-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-family: var(--font-title);
}

.products__item-text {
  margin-bottom: 27px;
  font-size: 12px;
}


